# MongoDB
MONGODB_DATABASE_NAME='copa-guru'
MONGODB_DSN='mongodb://localhost:27017'

# Auth
AUTH_JWT_SECRET='copa-guru-local-jwt-secret-key'

# API Gateway
HOSTED_ZONE_ID=''

# AWS
AWS_REGION='us-east-1'

# S3
S3_STATIC_BUCKET=''
CLOUDFRONT_STATIC_URL=''
